Repository ColoradoSchoolOfMines/OreCart-App, changes with the owners that CODEOWNERS names for each.
All owners: @OreCart/leads, @OreCart/backend, @OreCart/code-reviewers, @OreCart/frontend, @OreCart/frontend-admin, @tbwrigh

frontend: use react query
  frontend/App.tsx
  frontend/package-lock.json
  frontend/package.json
  frontend/src/screens/RouteList.tsx
  frontend/src/services/api.ts
Owners: @OreCart/frontend, @OreCart/code-reviewers

Upgrade react-query version to v5
  frontend-admin/package-lock.json
  frontend-admin/package.json
Owners: @OreCart/frontend-admin, @OreCart/code-reviewers

frontend: reformat
  frontend/src/screens/RouteList.tsx
Owners: @OreCart/frontend, @OreCart/code-reviewers

frontend: use modern react query
  frontend/App.tsx
  frontend/package-lock.json
  frontend/package.json
  frontend/src/screens/RouteList.tsx
Owners: @OreCart/frontend, @OreCart/code-reviewers

frontend: reformat
  frontend/App.tsx
  frontend/src/screens/RouteList.tsx
Owners: @OreCart/frontend, @OreCart/code-reviewers

Frontend: use react query (#86)
  frontend/App.tsx
  frontend/package-lock.json
  frontend/package.json
  frontend/src/screens/RouteList.tsx
  frontend/src/services/api.ts
Owners: @OreCart/frontend, @OreCart/code-reviewers

update react-query calls
  frontend-admin/src/main.tsx
  frontend-admin/src/pages/alerts/alerts-page.tsx
  frontend-admin/src/pages/routes/routes-page.tsx
  frontend-admin/src/pages/vans/vans-page.tsx
Owners: @OreCart/frontend-admin, @OreCart/code-reviewers

Admin: Separate out van components
  frontend-admin/src/pages/vans/add-van-form.tsx
  frontend-admin/src/pages/vans/edit-van-form.tsx
  frontend-admin/src/pages/vans/van-types.tsx
  frontend-admin/src/pages/vans/vans-page.tsx
Owners: @OreCart/frontend-admin, @OreCart/code-reviewers

frontend: add basic van location
  frontend/src/components/Map.tsx
  frontend/src/components/RouteItem.tsx
  frontend/src/style/color.ts
Owners: @OreCart/frontend, @OreCart/code-reviewers

frontend: update stuff
  frontend/package-lock.json
  frontend/package.json
Owners: @OreCart/frontend, @OreCart/code-reviewers

frontend: make vars more flexible
  frontend/README.md
  frontend/sample.env
  frontend/src/services/api.ts
Owners: @OreCart/frontend, @OreCart/code-reviewers

backend: make backend use websockets
  backend/requirements.txt
  backend/src/handlers/vans.py
Owners: @OreCart/backend, @OreCart/code-reviewers

backend: fix routes/stops being always inactive
  backend/src/handlers/routes.py
  backend/src/handlers/stops.py
Owners: @OreCart/backend, @OreCart/code-reviewers

backend: fix typing
  backend/src/handlers/vans.py
Owners: @OreCart/backend, @OreCart/code-reviewers

Admin: Separate out route components
  frontend-admin/src/pages/routes/add-route-form.tsx
  frontend-admin/src/pages/routes/edit-route-form.tsx
  frontend-admin/src/pages/routes/route-types.tsx
  frontend-admin/src/pages/routes/routes-page.tsx
Owners: @OreCart/frontend-admin, @OreCart/code-reviewers

Admin: Separate out alert components
  frontend-admin/src/pages/alerts/add-alert-form.tsx
  frontend-admin/src/pages/alerts/alert-types.tsx
  frontend-admin/src/pages/alerts/alerts-page.tsx
  frontend-admin/src/pages/alerts/edit-alert-form.tsx
Owners: @OreCart/frontend-admin, @OreCart/code-reviewers

frontend: remove log
  frontend/src/components/Map.tsx
Owners: @OreCart/frontend, @OreCart/code-reviewers

backend: remove bad comments
  backend/src/handlers/routes.py
  backend/src/handlers/stops.py
Owners: @OreCart/backend, @OreCart/code-reviewers

backend: make van response consistent
  backend/src/handlers/vans.py
Owners: @OreCart/backend, @OreCart/code-reviewers

backend: make van response consistent (#90)
  backend/src/handlers/vans.py
Owners: @OreCart/backend, @OreCart/code-reviewers

Backend: Fix routes/stops being always inactive (#88)
  backend/src/handlers/routes.py
  backend/src/handlers/stops.py
Owners: @OreCart/backend, @OreCart/code-reviewers

docker compose and docker builds
  backend/.dockerignore
  backend/Dockerfile
Owners: @OreCart/backend, @OreCart/code-reviewers

CODEOWNERS:

# Leads
* @OreCart/leads

# general
backend/ @OreCart/backend @OreCart/code-reviewers
frontend/ @OreCart/frontend @OreCart/code-reviewers
frontend-admin/ @OreCart/frontend-admin @OreCart/code-reviewers

# DevOps Things
.github/ @tbwrigh
docker-compose.yml @tbwrigh
