Repository ColoradoSchoolOfMines/OreCart-App, changes with the owners that CODEOWNERS names for each.
All owners: @OreCart/leads, @OreCart/backend, @OreCart/code-reviewers, @OreCart/frontend, @tbwrigh

CODEOWNERS:

# Leads
* @OreCart/leads

# general
backend/ @OreCart/backend @OreCart/code-reviewers
frontend/ @OreCart/frontend @OreCart/code-reviewers

# DevOps Things
.github/ @tbwrigh
docker-compose.yml @tbwrigh

Add docker compose commands to main readme
  README.md
Owners: @OreCart/leads

rename analytics to ridership
  backend/OreCart Database ER Diagram.erd
  backend/migrations/create_analytics_table.sql
Owners: @OreCart/backend, @OreCart/code-reviewers

change to create if not exists
  backend/migrations/create_alerts_table.sql
  backend/migrations/create_analytics_table.sql
  backend/migrations/create_route_disables_table.sql
  backend/migrations/create_route_stops_table.sql
  backend/migrations/create_route_vans_table.sql
  backend/migrations/create_routes_table.sql
  backend/migrations/create_schedules_table.sql
  backend/migrations/create_stops_table.sql
  backend/migrations/create_vans_table.sql
  backend/migrations/create_waypoints_table.sql
Owners: @OreCart/backend, @OreCart/code-reviewers

change workflows to only run checks on pushes/prs to main
  .github/workflows/nodejs-lint.yaml
  .github/workflows/python-lint.yaml
Owners: @tbwrigh

create src dir and change from sample.env to .env.template
  backend/sample.env
  backend/src/main.py
Owners: @OreCart/backend, @OreCart/code-reviewers

edit docker-compose and .env.template
  backend/.env.template
  docker-compose.yml
Owners: @OreCart/backend, @OreCart/code-reviewers, @tbwrigh

scaffold src dir structure
  backend/src/__init__.py
  backend/src/handlers/__init__.py
  backend/src/handlers/location.py
  backend/src/main.py
Owners: @OreCart/backend, @OreCart/code-reviewers

reformat files
  backend/src/handlers/location.py
  backend/src/main.py
Owners: @OreCart/backend, @OreCart/code-reviewers

add deps to requirements.txt
  backend/requirements.txt
Owners: @OreCart/backend, @OreCart/code-reviewers

Rework frontend API spec
  backend/backend-schema-proposal.md
Owners: @OreCart/backend, @OreCart/code-reviewers

Fix typo
  backend/backend-schema-proposal.md
Owners: @OreCart/backend, @OreCart/code-reviewers

Use second timestamps at points
  backend/backend-schema-proposal.md
Owners: @OreCart/backend, @OreCart/code-reviewers

Fix TS highlighting
  backend/backend-schema-proposal.md
Owners: @OreCart/backend, @OreCart/code-reviewers

Update backend-schema-proposal.md
  backend/backend-schema-proposal.md
Owners: @OreCart/backend, @OreCart/code-reviewers

change workflows to only run checks on pushes/prs to main (#30)
  .github/workflows/nodejs-lint.yaml
  .github/workflows/python-lint.yaml
Owners: @tbwrigh

Improve map location following (#23)
  frontend/src/Main.tsx
  frontend/src/components/Map.tsx
  frontend/src/services/location.ts
Owners: @OreCart/frontend, @OreCart/code-reviewers

Rework /routes into /dashboard
  backend/backend-schema-proposal.md
Owners: @OreCart/backend, @OreCart/code-reviewers

Indicate time drift alerts
  backend/backend-schema-proposal.md
Owners: @OreCart/backend, @OreCart/code-reviewers

change to seperate push and pr
  .github/workflows/nodejs-lint.yaml
  .github/workflows/python-lint.yaml
Owners: @tbwrigh

Update README.md
  backend/README.md
Owners: @OreCart/backend, @OreCart/code-reviewers

Update README.md
  README.md
Owners: @OreCart/leads

init default vite project
  frontend-admin/.eslintrc.cjs
  frontend-admin/.gitignore
  frontend-admin/.yarn/install-state.gz
  frontend-admin/README.md
  frontend-admin/index.html
  frontend-admin/package.json
  frontend-admin/public/vite.svg
  frontend-admin/src/App.css
  frontend-admin/src/App.tsx
  frontend-admin/src/assets/react.svg
  frontend-admin/src/index.css
  frontend-admin/src/main.tsx
  frontend-admin/src/vite-env.d.ts
  frontend-admin/tsconfig.json
  frontend-admin/tsconfig.node.json
  frontend-admin/vite.config.ts
  frontend-admin/yarn.lock
Owners: @OreCart/leads

Fix outage naming
  backend/backend-schema-proposal.md
Owners: @OreCart/backend, @OreCart/code-reviewers

Clarify outage location reporting
  backend/backend-schema-proposal.md
Owners: @OreCart/backend, @OreCart/code-reviewers

Fix typescript block formatting
  backend/backend-schema-proposal.md
Owners: @OreCart/backend, @OreCart/code-reviewers

Use millis for hardware -> backend
  backend/backend-schema-proposal.md
Owners: @OreCart/backend, @OreCart/code-reviewers

Revamp van related routes
  backend/backend-schema-proposal.md
Owners: @OreCart/backend, @OreCart/code-reviewers

autoformat ts snippets (comma to simicolon for interface)
  backend/backend-schema-proposal.md
Owners: @OreCart/backend, @OreCart/code-reviewers

change to js Date for timestamps to frontend
  backend/backend-schema-proposal.md
Owners: @OreCart/backend, @OreCart/code-reviewers

init default vite project (#36)
  frontend-admin/.eslintrc.cjs
  frontend-admin/.gitignore
  frontend-admin/.yarn/install-state.gz
  frontend-admin/README.md
  frontend-admin/index.html
  frontend-admin/package.json
  frontend-admin/public/vite.svg
  frontend-admin/src/App.css
  frontend-admin/src/App.tsx
  frontend-admin/src/assets/react.svg
  frontend-admin/src/index.css
  frontend-admin/src/main.tsx
  frontend-admin/src/vite-env.d.ts
  frontend-admin/tsconfig.json
  frontend-admin/tsconfig.node.json
  frontend-admin/vite.config.ts
  frontend-admin/yarn.lock
Owners: @OreCart/leads

Small README fixes
  README.md
Owners: @OreCart/leads

Scaffold backend dir structure (#32)
  backend/.env.template
  backend/main.py
  backend/requirements.txt
  backend/sample.env
  backend/src/__init__.py
  backend/src/handlers/__init__.py
  backend/src/handlers/location.py
  backend/src/main.py
  docker-compose.yml
Owners: @OreCart/backend, @OreCart/code-reviewers, @tbwrigh

update path to main after #32
  backend/README.md
Owners: @OreCart/backend, @OreCart/code-reviewers

Documentation patches (#35)
  README.md
  backend/README.md
Owners: @OreCart/leads, @OreCart/backend, @OreCart/code-reviewers

initialize alembic
  backend/alembic.ini
  backend/alembic/README.md
  backend/alembic/env.py
  backend/alembic/script.py.mako
Owners: @OreCart/backend, @OreCart/code-reviewers

create alembic migration files
  backend/alembic/versions/174e5a759f2d_create_stops_table.py
  backend/alembic/versions/233206860d70_create_waypoints_table.py
  backend/alembic/versions/25aed98a245a_create_route_vans_table.py
  backend/alembic/versions/311f80f8b8dd_create_routes_table.py
  backend/alembic/versions/3e3261e602b0_create_route_stops_table.py
  backend/alembic/versions/87f033493d8b_create_schedules_table.py
  backend/alembic/versions/b8ce06a37505_create_ridership_table.py
  backend/alembic/versions/dc6fb3eee9e3_create_alerts_table.py
  backend/alembic/versions/e74cdc7a92b6_create_route_disables_table.py
  backend/alembic/versions/f1a02e4febad_create_vans_table.py
Owners: @OreCart/backend, @OreCart/code-reviewers

load database url from dotenv
  backend/alembic.ini
  backend/alembic/env.py
Owners: @OreCart/backend, @OreCart/code-reviewers

apply isort to alembic files
  backend/alembic/env.py
  backend/alembic/versions/174e5a759f2d_create_stops_table.py
  backend/alembic/versions/233206860d70_create_waypoints_table.py
  backend/alembic/versions/25aed98a245a_create_route_vans_table.py
  backend/alembic/versions/311f80f8b8dd_create_routes_table.py
  backend/alembic/versions/3e3261e602b0_create_route_stops_table.py
  backend/alembic/versions/87f033493d8b_create_schedules_table.py
  backend/alembic/versions/b8ce06a37505_create_ridership_table.py
  backend/alembic/versions/e74cdc7a92b6_create_route_disables_table.py
  backend/alembic/versions/f1a02e4febad_create_vans_table.py
Owners: @OreCart/backend, @OreCart/code-reviewers

formatted new files with black
  backend/alembic/env.py
  backend/alembic/versions/174e5a759f2d_create_stops_table.py
  backend/alembic/versions/233206860d70_create_waypoints_table.py
  backend/alembic/versions/25aed98a245a_create_route_vans_table.py
  backend/alembic/versions/311f80f8b8dd_create_routes_table.py
  backend/alembic/versions/3e3261e602b0_create_route_stops_table.py
  backend/alembic/versions/87f033493d8b_create_schedules_table.py
  backend/alembic/versions/b8ce06a37505_create_ridership_table.py
  backend/alembic/versions/dc6fb3eee9e3_create_alerts_table.py
  backend/alembic/versions/e74cdc7a92b6_create_route_disables_table.py
  backend/alembic/versions/f1a02e4febad_create_vans_table.py
Owners: @OreCart/backend, @OreCart/code-reviewers

create pylintrc to ignore alembic context and op
  backend/pylintrc
Owners: @OreCart/backend, @OreCart/code-reviewers
