Repository ColoradoSchoolOfMines/OreCart-App, changes with the owners that CODEOWNERS names for each.
All owners: @OreCart/leads, @OreCart/backend, @OreCart/code-reviewers, @OreCart/frontend, @tbwrigh

CODEOWNERS:

# Leads
* @OreCart/leads

# general
backend/ @OreCart/backend @OreCart/code-reviewers
frontend/ @OreCart/frontend @OreCart/code-reviewers

# DevOps Things
.github/ @tbwrigh
docker-compose.yml @tbwrigh

add migration for stop_disables table
  backend/alembic/versions/c3c081cb6ba8_create_stop_disables_table.py
Owners: @OreCart/backend, @OreCart/code-reviewers

fix issue with autogenerated migration failing black
  backend/alembic/versions/c3c081cb6ba8_create_stop_disables_table.py
Owners: @OreCart/backend, @OreCart/code-reviewers

use pylintrc in ci
  .github/workflows/python-lint.yaml
Owners: @tbwrigh

apply isort to env.py as ci wants it
  backend/alembic/env.py
Owners: @OreCart/backend, @OreCart/code-reviewers

reorder columns of vans table
  backend/alembic/versions/f1a02e4febad_create_vans_table.py
Owners: @OreCart/backend, @OreCart/code-reviewers

remove route_vans migration
  backend/alembic/versions/25aed98a245a_create_route_vans_table.py
  backend/alembic/versions/311f80f8b8dd_create_routes_table.py
  backend/alembic/versions/87f033493d8b_create_schedules_table.py
  backend/alembic/versions/e74cdc7a92b6_create_route_disables_table.py
  backend/alembic/versions/f1a02e4febad_create_vans_table.py
Owners: @OreCart/backend, @OreCart/code-reviewers

CI separate push and pull-request triggers
  .github/workflows/nodejs-lint.yaml
  .github/workflows/python-lint.yaml
Owners: @tbwrigh

Indicate route IDs better
  backend/backend-schema-proposal.md
Owners: @OreCart/backend, @OreCart/code-reviewers

frontend: rename .env.sample to .env.template
  frontend/.env.sample
  frontend/.env.template
Owners: @OreCart/frontend, @OreCart/code-reviewers

frontend/map: cleanup
  frontend/src/components/Map.tsx
Owners: @OreCart/frontend, @OreCart/code-reviewers

frontend: fix lint
  frontend/src/components/Map.tsx
Owners: @OreCart/frontend, @OreCart/code-reviewers
